<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/profil.css">    
    <title>profil</title>
</head>
<body>
        <div id="container" >
            <div id="profile_box">

                <header id="avatar_box">
                    <div id="avatar_cirkel_img">
                        <img src="/static/img/user.png" alt="" id="avatar_img">
                    </div>
                    <h3>Mohammad hajjar</h3>
                    <a href=""><img src="/static/img/fountain-pen.png" alt="" id="edit_profil"></a>
                    <a href=""><img src="/static/img/shared.png" alt="" id="shared_img"></a>
                    <a href=""><img src="/static/img/view.png" alt="" id="viewing_img"></a>

                </header>

                <div id="game_box">
                    <figure>
                        <img src="/static/img/minikraft.jpeg" alt="">
                        <figcaption>Minecraft</figcaption>
                    </figure>
                    <figure class="imges_kant">
                        <img src="/static/img/minikraft.jpeg" alt="">
                        <figcaption>Apex</figcaption>
                    </figure>
                    <figure class="imges_kant">
                        <img src="/static/img/minikraft.jpeg" alt="">
                        <figcaption>League of Legends</figcaption>
                    </figure>
                    <figure class="imges_kant">
                        <img src="/static/img/minikraft.jpeg" alt="">
                        <figcaption>League of Legends</figcaption>
                    </figure>
                </div>
                <div id="About_me_box">
                    <p>
                        About Me: 
                    </p>
                </div>
                <div id="interests">
                    <figure class="imges_kant">
                        <img src="/static/img/Computer-Pc-Desktop--Streamline-Plump-Gradient.png" alt="">
                    </figure>
                    <figure class="imges_kant">
                        <img src="/static/img/Controller-1--Streamline-Plump-Gradient.png" alt="">
                    </figure>
                </div>
            </div>
        </div>
</body>
</html>